@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	/* Custom fonts */
	--font-inter: var(--font-inter), sans-serif;
	--font-poppins: var(--font-poppins), sans-serif;
	--font-ethiopic: var(--font-ethiopic), sans-serif;
}

:root {
	--background: oklch(0.9838 0.0098 181.4162);
	--foreground: oklch(0.1463 0.0189 249.1452);
	--card: oklch(0.9962 0.0053 197.0718);
	--card-foreground: oklch(0.1463 0.0189 249.1452);
	--popover: oklch(0.9898 0.0098 181.4183);
	--popover-foreground: oklch(0.1463 0.0189 249.1452);
	--primary: oklch(0.4647 0.0927 230.1099);
	--primary-foreground: oklch(0.9838 0.0098 181.4162);
	--secondary: oklch(0.9608 0.021 178.3703);
	--secondary-foreground: oklch(0.2195 0.0206 254.9052);
	--muted: oklch(0.939 0.0149 202.0486);
	--muted-foreground: oklch(0.5004 0.0298 228.4678);
	--accent: oklch(0.9203 0.0408 188.8584);
	--accent-foreground: oklch(0.2195 0.0206 254.9052);
	--destructive: oklch(0.6004 0.1809 25.0969);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.8998 0.0097 196.9837);
	--input: oklch(0.8998 0.0097 196.9837);
	--ring: oklch(0.5491 0.0803 220.5276);
	--chart-1: oklch(0.5964 0.1347 239.1335);
	--chart-2: oklch(0.6234 0.1135 179.4556);
	--chart-3: oklch(0.7395 0.1499 109.9991);
	--chart-4: oklch(0.6798 0.1294 269.8373);
	--chart-5: oklch(0.7001 0.1393 50.3166);
	--sidebar: oklch(0.9705 0.016 187.3408);
	--sidebar-foreground: oklch(0.2195 0.0206 254.9052);
	--sidebar-primary: oklch(0.4647 0.0927 230.1099);
	--sidebar-primary-foreground: oklch(0.9838 0.0098 181.4162);
	--sidebar-accent: oklch(0.939 0.0149 202.0486);
	--sidebar-accent-foreground: oklch(0.2195 0.0206 254.9052);
	--sidebar-border: oklch(0.8998 0.0097 196.9837);
	--sidebar-ring: oklch(0.5491 0.0803 220.5276);
	--font-sans: 'Avenir Next', sans-serif;
	--font-serif: 'Merriweather', serif;
	--font-mono: 'Fira Mono', monospace;
	--radius: 0.625rem;
	--shadow-x: 0px;
	--shadow-y: 8px;
	--shadow-blur: 18px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.08;
	--shadow-color: #000000;
	--shadow-2xs: 0px 8px 18px 0px hsl(0 0% 0% / 0.04);
	--shadow-xs: 0px 8px 18px 0px hsl(0 0% 0% / 0.04);
	--shadow-sm: 0px 8px 18px 0px hsl(0 0% 0% / 0.08),
		0px 1px 2px -1px hsl(0 0% 0% / 0.08);
	--shadow: 0px 8px 18px 0px hsl(0 0% 0% / 0.08),
		0px 1px 2px -1px hsl(0 0% 0% / 0.08);
	--shadow-md: 0px 8px 18px 0px hsl(0 0% 0% / 0.08),
		0px 2px 4px -1px hsl(0 0% 0% / 0.08);
	--shadow-lg: 0px 8px 18px 0px hsl(0 0% 0% / 0.08),
		0px 4px 6px -1px hsl(0 0% 0% / 0.08);
	--shadow-xl: 0px 8px 18px 0px hsl(0 0% 0% / 0.08),
		0px 8px 10px -1px hsl(0 0% 0% / 0.08);
	--shadow-2xl: 0px 8px 18px 0px hsl(0 0% 0% / 0.2);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1604 0.0307 250.9575);
	--foreground: oklch(0.9838 0.0098 181.4162);
	--card: oklch(0.2214 0.0292 249.2643);
	--card-foreground: oklch(0.9838 0.0098 181.4162);
	--popover: oklch(0.2214 0.0292 249.2643);
	--popover-foreground: oklch(0.9838 0.0098 181.4162);
	--primary: oklch(0.705 0.1305 222.2263);
	--primary-foreground: oklch(0.1604 0.0307 250.9575);
	--secondary: oklch(0.2598 0.0299 239.4612);
	--secondary-foreground: oklch(0.9838 0.0098 181.4162);
	--muted: oklch(0.2598 0.0299 239.4612);
	--muted-foreground: oklch(0.6488 0.0402 220.2262);
	--accent: oklch(0.3 0.0496 239.2107);
	--accent-foreground: oklch(0.9838 0.0098 181.4162);
	--destructive: oklch(0.6004 0.1809 25.0969);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(1 0 0);
	--input: oklch(1 0 0);
	--ring: oklch(0.5491 0.0803 220.5276);
	--chart-1: oklch(0.5964 0.1347 239.1335);
	--chart-2: oklch(0.6798 0.1294 269.8373);
	--chart-3: oklch(0.7395 0.1499 109.9991);
	--chart-4: oklch(0.7001 0.1393 50.3166);
	--chart-5: oklch(0.6234 0.1135 179.4556);
	--sidebar: oklch(0.2214 0.0292 249.2643);
	--sidebar-foreground: oklch(0.9838 0.0098 181.4162);
	--sidebar-primary: oklch(0.705 0.1305 222.2263);
	--sidebar-primary-foreground: oklch(0.1604 0.0307 250.9575);
	--sidebar-accent: oklch(0.3 0.0496 239.2107);
	--sidebar-accent-foreground: oklch(0.9838 0.0098 181.4162);
	--sidebar-border: oklch(1 0 0);
	--sidebar-ring: oklch(0.5491 0.0803 220.5276);
	--font-sans: 'Avenir Next', sans-serif;
	--font-serif: 'Merriweather', serif;
	--font-mono: 'Fira Mono', monospace;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 10px;
	--shadow-blur: 24px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.25;
	--shadow-color: #000000;
	--shadow-2xs: 0px 10px 24px 0px hsl(0 0% 0% / 0.13);
	--shadow-xs: 0px 10px 24px 0px hsl(0 0% 0% / 0.13);
	--shadow-sm: 0px 10px 24px 0px hsl(0 0% 0% / 0.25),
		0px 1px 2px -1px hsl(0 0% 0% / 0.25);
	--shadow: 0px 10px 24px 0px hsl(0 0% 0% / 0.25),
		0px 1px 2px -1px hsl(0 0% 0% / 0.25);
	--shadow-md: 0px 10px 24px 0px hsl(0 0% 0% / 0.25),
		0px 2px 4px -1px hsl(0 0% 0% / 0.25);
	--shadow-lg: 0px 10px 24px 0px hsl(0 0% 0% / 0.25),
		0px 4px 6px -1px hsl(0 0% 0% / 0.25);
	--shadow-xl: 0px 10px 24px 0px hsl(0 0% 0% / 0.25),
		0px 8px 10px -1px hsl(0 0% 0% / 0.25);
	--shadow-2xl: 0px 10px 24px 0px hsl(0 0% 0% / 0.63);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-poppins;
	}
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-inter;
	}
}

:lang(am) {
	font-family: var(--font-ethiopic), sans-serif;
}
